.main-title-container {
    margin-bottom: 25px;
}

.button-container-show-more {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.button-show-more {
    border: 1px solid #862D86;
    padding: 15px 60px;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

.button-show-more:hover {
    background-color: #862D86;
    color: #FFFFFF;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}