<header>
    <div class="logo-and-menu-container">
        <div class="logo-container">
            <a href="#">
                <img src="../../../../assets/images/JSONPlaceholderApp-Logo.png" />
            </a>
        </div>
    
        <nav>
            <ul class="menu">
                <li class="menu-item" routerLinkActive="menu-item-active">
                    <a routerLink="/postagens">
                        Postagens
                    </a>
                </li>
                <li class="menu-item" routerLinkActive="menu-item-active">
                    <a href="#">
                        Álbuns
                    </a>
                </li>
                <li class="menu-item" routerLinkActive="menu-item-active">
                    <a href="#">
                        Tarefas
                    </a>
                </li>
                <li class="menu-item" routerLinkActive="menu-item-active">
                    <a routerLink="/usuarios">
                        Usuários
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="highlighted-button-container">
        <a class="highlighted-button" href="https://jsonplaceholder.typicode.com/" target="_blank">
            JSONPlaceholder
        </a>
    </div>
</header>