.reading-box {
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 5px;
}

.reading-box-title {
    color: #404040;
    font-size: 14px;
    font-weight: bold;
}

.reading-box-content {
    color: #4D4D4D;
    font-size: 14px;
    margin-top: 15px;
}