.reading-box {
    padding: 15px;
}

.title-container {
    margin-bottom: 10px;
}

.title {
    color: #404040;
    font-size: 14px;
    font-weight: bold;
}

.information {
    color: #595959;
    font-size: 14px;
}