<div>
  <ng-container *ngFor="let user of users">
    <div class="user-container">
      <div class="user" appDefaultBox>
        <div class="name-initials-container">
          <span class="name-initials">
            {{ user.name | nameInitials }}
          </span>
        </div>
      
        <div class="user-information-container">
          <div class="username-container">
            <a class="username" [routerLink]="user.id">
              {{ user.name }}
            </a>
          </div>
      
          <div class="user-email-container">
            <app-information-box-with-icon
              [icon]="icons.email"
              [information]="user.email"></app-information-box-with-icon>
          </div>
      
          <div class="user-phone-container">
            <app-information-box-with-icon
              [icon]="icons.phone"
              [information]="user.phone"></app-information-box-with-icon>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

