.user {
    display: flex;
    background-color: #F2F2F2;
}

.name-initials-container {
    align-items: center;
    background-color: #B34DB3;
    display: flex;
    padding: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.name-initials {
    color: #FFFFFF;
    font-weight: bold;
}

.user-information-container {
    padding: 10px 15px;
}

.username-container {
    margin-bottom: 5px;
}

.username {
    font-weight: bold;
}

.user-email-container {
    margin-bottom: 5px;
}