<div>
  <ng-container *ngFor="let record of records">
    <div class="record-container">
      <app-reading-box [information]="record.description">
        <a class="record-name" [routerLink]="record.routeView">
          {{ record.name }}
        </a>
      </app-reading-box>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="lazyLoading && !hideButtonViewMoreWhen">
  <div class="button-view-more-container">
    <button class="button-view-more" type="button" (click)="onClickViewMore()">
      Ver Mais
    </button>
  </div>
</ng-container>