<app-main-title title="Visualizar Tarefa"></app-main-title>

<div class="user">
  <app-secondary-title title="Usuário"></app-secondary-title>
  <app-basic-user-information [user]="todo.user"></app-basic-user-information>
</div>

<div class="todo">
  <app-secondary-title title="Geral"></app-secondary-title>
  
  <div class="todo-information">
    <app-data-box header="Título" [body]="todo.title"></app-data-box>
    <app-data-box header="Status" [body]="todo.completed ? 'Completa' : 'Incompleta'"></app-data-box>
  </div>
</div>
