.count-box {
    border: 1px solid #993399;
    border-radius: 5px;
}

.count-description-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.count-container {
    margin-bottom: 5px;
}

.count {
    font-weight: bold;
}

.description {
    text-transform: uppercase;
}

.button-view-container {
    text-align: center;
}

.button-view {
    border-radius: 0px;
    width: 100%;
}