<div class="count-box">
  <div class="count-description-icon-container">
    <div>
      <div class="count-container">
        <span class="count">
          {{ count }}
        </span>
      </div>

      <div class="description-container">
        <span class="description">
          {{ description }}
        </span>
      </div>
    </div>

    <div class="icon-container">
      <fa-icon [icon]="icon" size="2x"></fa-icon>
    </div>
  </div>

  <div class="button-view-container">
    <button class="button  button-primary  button-view" [routerLink]="route">
      {{ buttonDescription }}
    </button>
  </div>
</div>