.count-box {
    border: 1px solid #993399;
    border-radius: 5px;
}

.count-description-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.count-container {
    margin-bottom: 5px;
}

.count {
    font-size: 14px;
    font-weight: bold;
}

.description {
    font-size: 14px;
    text-transform: uppercase;
}

.button-container {
    text-align: center;
}

.button {
    background-color: #862D86;
    border-radius: 0px;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.5s;
    width: 100%;
}

.button:hover {
    background-color: #993399;
    transition: background-color 0.5s;
}