<app-main-title title="Visualizar Postagem"></app-main-title>

<div class="topic-container">
  <app-secondary-title title="Usuário"></app-secondary-title>
  <app-basic-user-information [user]="post.user"></app-basic-user-information>
</div>

<div class="topic-container">
  <app-secondary-title title="Título"></app-secondary-title>
  <div>
    <p>
      {{ post.title }}
    </p>
  </div>
</div>

<div class="topic-container">
  <app-secondary-title title="Conteúdo"></app-secondary-title>
  <div>
    <p>
      {{ post.body }}
    </p>
  </div>
</div>

<div class="topic-container">
  <app-secondary-title title="Comentários"></app-secondary-title>
  <div>
    <app-data-list [values]="post.comments">
      <ng-template appListItemTemplate let-comment>
        <app-data-box [header]="comment.email" [body]="comment.body"></app-data-box>
      </ng-template>
    </app-data-list>
  </div>
</div>

