footer {
    align-items: center;
    background-color: #404040;
    display: flex;
    justify-content: space-between;
}

.container-tool-images {
    display: flex;
    margin-left: 10px;
}

.tool-image-container:not(:last-of-type) {
    margin-right: 15px;
}

.tool-image {
    width: 36px;
}

.copyright {
    color: #FFFFFF;
    font-size: 18px;
    margin: 0px;
}