<footer class="container">
  <div>
    <p class="copyright">
      &#169; 2020 JSONPlaceholder App
    </p>
  </div>

  <div class="container-tool-images">
    <div class="tool-image-container">
      <a href="https://github.com/alexmouraable/jsonplaceholder-app" target="_blank">
        <img class="tool-image" src="../../../../assets/images/tools/github.svg" />
      </a>
    </div>

    <div class="tool-image-container">
      <a href="https://www.linkedin.com/in/álex-moura-374761186" target="_blank">
        <img class="tool-image" src="../../../../assets/images/tools/linkedin.svg" />
      </a>
    </div>
  </div>
</footer>