/* Início - Reset CSS */
* {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #404040;
}
/* Fim - Reset CSS */


/* Início - Titles */
.main-title {
    color: #862D86;
    font-weight: bold;
    text-transform: uppercase;
}

.secondary-title {
    color: #404040;
    font-weight: bold;
    text-transform: uppercase;
}
/* Fim - Titles */


/* Início - Box */
.box {
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 15px;
}
/* Fim - Box */


/* Início - Link */
.link {
    color: #B464B4;
    text-decoration: none;
    transition: color 0.5s;
    font-weight: 400;
}

.link:hover {
    color: #B34DB3;
    text-decoration: underline;
    transition: color 0.5s;
}
/* Fim - Link */


/* Início - Botão */
a.button {
    text-decoration: none;
}

.button {
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 20px;
}

.button-primary {
    background-color: #862D86;
    color: #FFFFFF;
    transition: background-color 0.5s;
}

.button-primary:hover {
    background-color: #993399;
    transition: background-color 0.5s;
}

.button-outline-primary {
    border: 1px solid #862D86;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

.button-outline-primary:hover {
    color: #FFFFFF;
    background-color: #862D86;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}
/* Fim - Botão */