<!-- <Título Principal> -->
<div class="main-title-container">
  <h1 class="main-title">Visualizar Usuário</h1>
</div>
<!-- </Título Principal> -->

<!-- <Geral> -->
<div class="section-container">
  <div class="secondary-title-container">
    <h2 class="secondary-title">Geral</h2>
  </div>

  <div class="information-container">
    <app-data-box description="Nome" [value]="user.name"></app-data-box>
    <app-data-box description="Nome de Usuário" [value]="user.username"></app-data-box>
    <app-data-box description="Website" [value]="user.website"></app-data-box>
  </div>
</div>
<!-- </Geral> -->

<!-- <Endereço> -->
<div class="section-container">
  <div class="secondary-title-container">
    <h2 class="secondary-title">Endereço</h2>
  </div>

  <div class="information-container">
    <app-data-box description="Rua" [value]="user.address.street"></app-data-box>
    <app-data-box description="Cidade" [value]="user.address.city"></app-data-box>
    <app-data-box description="CEP" [value]="user.address.zipcode"></app-data-box>
  </div>

  <div class="information-container">
    <app-data-box description="Complemento" [value]="user.address.suite"></app-data-box>
    <app-data-box description="Latitude" [value]="user.address.geo.lat"></app-data-box>
    <app-data-box description="Longitude" [value]="user.address.geo.lng"></app-data-box>
  </div>
</div>
<!-- </Endereço> -->

<!-- <Contatos> -->
<div class="section-container">
  <div class="secondary-title-container">
    <h2 class="secondary-title">Contatos</h2>
  </div>

  <div class="information-container">
    <app-data-box description="Telefone" [value]="user.phone"></app-data-box>
    <app-data-box description="E-mail" [value]="user.email"></app-data-box>
  </div>
</div>
<!-- </Contatos> -->

<!-- <Empresa> -->
<div class="section-container">
  <div class="secondary-title-container">
    <h2 class="secondary-title">Empresa</h2>
  </div>

  <div class="information-container">
    <app-data-box description="Nome" [value]="user.company.name"></app-data-box>
    <app-data-box description="Bordão" [value]="user.company.catchPhrase"></app-data-box>
    <app-data-box description="Finalidade" [value]="user.company.bs"></app-data-box>
  </div>
</div>
<!-- </Empresa> -->

<!-- <Estatísticas> -->
<div class="section-container">
  <div class="secondary-title-container">
    <h2 class="secondary-title">Estatísticas</h2>
  </div>

  <div class="information-container">
    <app-count-box description="Postagens" [count]="user.statistics.numberOfPosts" [icon]="icons.posts"
      button-description="Visualizar" route="postagens"></app-count-box>

    <app-count-box description="Tarefas" [count]="user.statistics.numberOfTodos" [icon]="icons.tasks"
      button-description="Visualizar" route="tarefas"></app-count-box>

    <app-count-box description="Álbuns" [count]="user.statistics.numberOfAlbums" [icon]="icons.albums"
      button-description="Visualizar" route="albuns"></app-count-box>
  </div>
</div>
<!-- </Estatísticas> -->
