<!-- <Título Principal> -->
<div class="main-title-container">
  <h1 class="main-title">Visualizar Usuário</h1>
</div>
<!-- </Título Principal> -->

<!-- <Geral> -->
<div class="section-container">
  <div class="secondary-title-container">
    <h2 class="secondary-title">Geral</h2>
  </div>

  <div class="information-container">
    <app-data-box header="Nome" [body]="user.name"></app-data-box>
    <app-data-box header="Nome de Usuário" [body]="user.username"></app-data-box>
    <app-data-box header="Website" [body]="user.website"></app-data-box>
  </div>
</div>
<!-- </Geral> -->

<!-- <Endereço> -->
<div class="section-container">
  <div class="secondary-title-container">
    <h2 class="secondary-title">Endereço</h2>
  </div>

  <div class="information-container">
    <app-data-box header="Rua" [body]="user.address.street"></app-data-box>
    <app-data-box header="Cidade" [body]="user.address.city"></app-data-box>
    <app-data-box header="CEP" [body]="user.address.zipcode"></app-data-box>
  </div>

  <div class="information-container">
    <app-data-box header="Complemento" [body]="user.address.suite"></app-data-box>
    <app-data-box header="Latitude" [body]="user.address.geo.lat"></app-data-box>
    <app-data-box header="Longitude" [body]="user.address.geo.lng"></app-data-box>
  </div>
</div>
<!-- </Endereço> -->

<!-- <Contatos> -->
<div class="section-container">
  <div class="secondary-title-container">
    <h2 class="secondary-title">Contatos</h2>
  </div>

  <div class="information-container">
    <app-data-box header="Telefone" [body]="user.phone"></app-data-box>
    <app-data-box header="E-mail" [body]="user.email"></app-data-box>
  </div>
</div>
<!-- </Contatos> -->

<!-- <Empresa> -->
<div class="section-container">
  <div class="secondary-title-container">
    <h2 class="secondary-title">Empresa</h2>
  </div>

  <div class="information-container">
    <app-data-box header="Nome" [body]="user.company.name"></app-data-box>
    <app-data-box header="Bordão" [body]="user.company.catchPhrase"></app-data-box>
    <app-data-box header="Finalidade" [body]="user.company.bs"></app-data-box>
  </div>
</div>
<!-- </Empresa> -->

<!-- <Estatísticas> -->
<div class="section-container">
  <div class="secondary-title-container">
    <h2 class="secondary-title">Estatísticas</h2>
  </div>

  <div class="information-container">
    <app-count-box description="Postagens" [count]="user.statistics.numberOfPosts" [icon]="icons.posts"
      button-description="Visualizar" route="postagens"></app-count-box>

    <app-count-box description="Tarefas" [count]="user.statistics.numberOfTodos" [icon]="icons.tasks"
      button-description="Visualizar" route="tarefas"></app-count-box>

    <app-count-box description="Álbuns" [count]="user.statistics.numberOfAlbums" [icon]="icons.albums"
      button-description="Visualizar" route="albuns"></app-count-box>
  </div>
</div>
<!-- </Estatísticas> -->
